<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix" >

					<div class="col-lg-6" id="contacto">

						<div class="widget clearfix">

							<img src="{{site.baseurl}}/img/logo-dark.svg" alt="" width="200" class="footer-logo">

							<p>Nuestra misión es brindar a nuestros clientes componentes y accesorios para computadoras de calidad en condiciones competitivas logrando con ello la satisfacción plena de sus necesidades.</p>

							<div style="background: url('{{site.baseurl}}/images/world-map.png') no-repeat center center; background-size: 100%;">
								<address>
									<strong>Oficinas:</strong><br>
									Av. México No.3370 Local 18-M<br>
									Plaza Bonita, Zapopan, Jalisco<br>
								</address>
								<abbr title="Phone Number"><strong>Conmutador:</strong></abbr> <a href="tel:3338132382">(33) 38-13-23-82</a><br>
								<abbr title="Email Address"><strong>Email:</strong></abbr> <a href="tony_ventas@keopscomputers.com.mx">tony_ventas@keopscomputers.com.mx</a>
							</div>

						</div>

					</div>

					<!--<div class="col_one_third">

						<div class="widget clearfix">
							<h4>Consulta nuestra promociones</h4>

							<div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
								<div class="flexslider">
									<div class="slider-wrap">
										<div class="slide">
											<div class="testi-image">
												<a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
											</div>
											<div class="testi-content">
												<p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
												<div class="testi-meta">
													Steve Jobs
													<span>Apple Inc.</span>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="testi-image">
												<a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
											</div>
											<div class="testi-content">
												<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
												<div class="testi-meta">
													Collis Ta'eed
													<span>Envato Inc.</span>
												</div>
											</div>
										</div>
										<div class="slide">
											<div class="testi-image">
												<a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
											</div>
											<div class="testi-content">
												<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
												<div class="testi-meta">
													John Doe
													<span>XYZ Inc.</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="widget clearfix">

							<a href="#" class="social-icon si-small si-rounded si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

						</div>

					</div>  -->

					<div class="col-lg-6">
                        
                        <h4 style="margin-top:35px;">Llama Ahora</h4>
                        <h3>Conmutador:</strong></abbr> <a href="tel:3338132382">(33) 3813 2382</a></h3>

						<div class="widget quick-contact-widget clearfix">

							<h4>Enviar mensaje</h4>

							<div class="quick-contact-form-result"></div>

							<form id="quick-contact-form" name="quick-contact-form" action="{{site.baseurl}}include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

								<div class="form-process"></div>

								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Nombre Completo" />
								</div>
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Correo Electrónico" />
								</div>
								<textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Mensaje"></textarea>
								<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
								<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Enviar</button>

							</form>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						&copy; 2016 Derechos Reservados | <a href="*">Aviso de Privacidad</a><br>
						<small>Diseño Web por <a href="http://www.circuloux.com" target="_blank">CirculoUX</a></small>
					</div>

					

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
