        <!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap" >

				<div class="container clearfix" id="quienes-somos">
					<div class="row clearfix">

						<div class="col-lg-5">
							<div class="heading-block ">
								<h1>Bienvenido a <br>KEOPS COMPUTERS</h1>
							</div>
                                <p class="lead">Somos una empresa mexicana que se especializa en la asesoría, venta y distribución de equipo de cómputo, periféricos y consumibles.</p>
                                <p class="lead">Nuestro compromiso es garantizar tu satisfacción a través de la <b>calidad y el buen servicio</b> como lo hemos hecho desde hace más de 30 años.</p>
						</div>

						<div class="col-lg-7">

							<div style="position: relative; margin-bottom: -40px; max-width:500px; margin:auto;" class="ohidden" data-height-lg="326" data-height-md="326" data-height-sm="326" data-height-xs="325" data-height-xxs="225">
								<img src="images/services/router1.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Chrome">
								<!--<img src="images/services/main-fmobile.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="400" alt="iPad">-->
							</div>

						</div>

					</div>
				</div>

				<div class="section nobottommargin">
					<div class="container clear-bottommargin clearfix">

						<div class="row topmargin-sm clearfix">

							<div class="col-md-4 bottommargin">
								<i class="i-plain color i-large icon-line2-screen-desktop inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">Equipos de Cómputo</span>
									<h4>De Escritorio y Laptops</h4>
								</div>
								<p>Contamos con un amplio catálogo en computadoras de escritorio, laptops y tablets de las marcas líderes en el mercado. También contamos con los componentes para armar tu equipo a la medida de tus necesidades.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain color i-large icon-line2-printer inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">Artículos, componentes y cables</span>
									<h4>Accesorios y Periféricos</h4>
								</div>
								<p>Tenemos todo lo que necesites para completar tu equipo de computo: impresoras, monitores, teclados, CPU's, micrófonos, audífonos, cables, componentes y mucho más.</p>
							</div>

							<div class="col-md-4 bottommargin">
								<i class="i-plain color i-large icon-line2-equalizer inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">Redes, Mobiliario &amp; Software.</span>
									<h4>Soluciones Especiales</h4>
								</div>
								<p>Te brindamos soluciones integrales para que puedas equipar a tu organización de la mejor tecnología como servidores, redes, cables, conexiones, software y mobiliario.</p>
							</div>

						</div>

					</div>
				</div>

				<div class="container clearfix">

					<div class="row topmargin-lg bottommargin-sm" id="productos">

						<div class="heading-block center">
							<h2>Un amplio catálogo de productos</h2>
							<span class="divcenter"><strong>Keops Computers</strong> te ofrece una extensa variedad de productos y soluciones integrales de alta calidad y garantía.</span>
						</div>

						<div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<i class="icon-tablet"></i>
								</div>
								<h3>Computadoras y Tablets</h3>
								<p>Equipos de computo de escritorio y portátiles, tablets y teléfonos móviles.</p>
							</div>

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<i class="icon-line-share"></i>
								</div>
								<h3>Redes y Cableado</h3>
								<p>Servidores, access point, switches, routers, cableado y todo lo que necesitas para crear tu red.</p>
							</div>

							<div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
								<div class="fbox-icon">
									<i class="icon-printer"></i>
								</div>
								<h3>Accesorios y Periféricos</h3>
								<p>Impresoras, teclados, mouse, micrófonos, bocinas, discos duros externos, adaptadores, reguladores, y mucho más.</p>
							</div>

						</div>

						<div class="col-md-4 hidden-sm bottommargin center">
							<img src="images/services/mouse.jpg" alt="mouse">
						</div>

						<div class="col-md-4 col-sm-6 bottommargin">

							<div class="feature-box topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<i class="icon-line-paper"></i>
								</div>
								<h3>Consumibles</h3>
								<p>Cartuchos, toner, papel, rotuladores y refacciones para impresora y otros artículos relativos.</p>
							</div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
								<div class="fbox-icon">
									<i class="icon-line-video"></i>
								</div>
								<h3>Video</h3>
								<p>Monitores, cámaras de seguridad, webcams, proyectores, pantallas, soportes, cables, tarjetas de video, NVRs.</p>
							</div>

							<div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
								<div class="fbox-icon">
									<i class="icon-windows"></i>
								</div>
								<h3>Software</h3>
								<p>Windows Office, Contpaq, CRM y más.</p>
							</div>

						</div>

					</div>

				</div>

				<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding" style="background: url('images/services/main-bg.jpg') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
					</div>

					<div class="col-md-6 center col-padding" style="background-color: #F5F5F5;">
						<div>
							<div class="heading-block nobottomborder">
								<span class="before-heading color">Soluciones Inteligentes a tu medida</span>
								<h3>Las mejores marcas para ti</h3>
							</div>

							<div class="center bottommargin">
								<a href="https://vimeo.com/69476899" data-lightbox="iframe" style="position: relative;">
									<img src="images/services/video.png" alt="Video">
									<span class="i-overlay nobg"><img src="images/icons/video-play.png" alt="Play"></span>
								</a>
							</div>
                            <p class="lead nobottommargin"><b>Keops Computers</b> pone a tu disposición este innovador equipo de cómputo marca DELL. </p>
						</div>
					</div>

				</div>

				<div class="row clearfix common-height">

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #515875;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-calendar"></i>
							<div class="counter counter-lined"><span data-from="3000" data-to="30" data-refresh-interval="100" data-speed="2500"></span></div>
							<h5>Años de Experiencia</h5>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #576F9E;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-data"></i>
							<div class="counter counter-lined"><span data-from="3000" data-to="3121" data-refresh-interval="100" data-speed="2500"></span></div>
							<h5>Productos en Catálogo</h5>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #6697B9;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-tag2"></i>
							<div class="counter counter-lined"><span data-from="10" data-to="120" data-refresh-interval="25" data-speed="3500"></span></div>
							<h5>Marcas a tu disposición</h5>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #88C3D8;">
						<div>
							<i class="i-plain i-xlarge divcenter icon-heart3"></i>
							<div class="counter counter-lined"><span data-from="60" data-to="43543" data-refresh-interval="30" data-speed="2700"></span></div>
							<h5>Clientes Satisfechos</h5>
						</div>
					</div>

				</div>
				<div class="section parallax dark nobottommargin notopmargin" style="background-image: url('images/services/home-testi-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">

					<div class="heading-block center">
						<h3>Todo lo que necesitas en un sólo lugar</h3>
					</div>

                    <div class="testi-content container text-center">
				        <p>Nuestra empresa tiene la política de brindar la asesoría y la atención especializada para garantizar la satisfacción de todos nuestros clientes.</p>
				        <div class="testi-meta">
											Gerencia Comercial 
				        <span>Keops Computers</span>
				        </div>
				    </div>
				</div>
    
				<div class="section notopmargin notopborder">
					<div class="container clearfix" id="marcas">
						<div class="heading-block center nomargin">
							<h3>Marcas</h3>
						</div>
					</div>
				</div>


				<!------------------------ MARCAS ----------------------->

				<div class="container clearfix">

					<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60" data-loop="true" data-nav="false" data-autoplay="3000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">

						<div class="oc-item"><img src="images/clients/1.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/2.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/3.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/4.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/5.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/6.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/7.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/8.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/9.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/10.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/11.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/12.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/13.jpg" alt="Clients"></div>
						<div class="oc-item"><img src="images/clients/14.jpg" alt="Clients"></div>

					</div>


				</div>

			</div>

		</section><!-- #content end -->